header {
	display: flex;
	justify-content: space-between;
}

#header-links {
	display: flex;
}

#hero {
	display: flex;
}

#hero-left {
	flex: 1;
}

#hero-right {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: grey;
}
