* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
}

header,
footer {
	background-color: #1f2937;
	color: #f9faf8;
}

header {
	display: flex;
	flex-direction: column;
	padding: 2px 200px 50px 200px;
}

#heading {
	display: flex;
	justify-content: space-between;
}

#header-logo {
	color: #f9faf8;
	font-size: 24px;
	font-weight: bold;
}

#header-links {
	display: flex;
	list-style: none;
	gap: 20px;
	font-size: 18px;
}

a,
a:visited,
#hero-left p {
	color: #e5e7eb;
	text-decoration: none;
	font-size: 18px;
}

#hero {
	display: flex;
	margin: 80px auto;
	gap: 30px;
}

#hero-left {
	flex: 1;
	text-align: left;
}

#hero-left h1 {
	font-size: 48px;
	font-weight: 950;
	margin: 0;
}

#hero-left p {
	margin: 0 0 10px 0;
}

#hero-left button {
	background-color: #3882f6;
	color: #f9faf8;
	font-size: 18px;
	font-weight: 600;
	border-style: none;
	border-radius: 4px;
	padding: 10px 40px;
}

#hero-right {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: grey;
}

#main-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#main-content h2 {
	font-size: 36px;
	font-weight: 950;
	color: #1f2937;
	margin-top: 50px;
	margin-bottom: 50px;
}

#info-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 50px;
	margin-bottom: 130px;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 170px;
	height: auto;
	color: #3f4246;
}

.box {
	width: 170px;
	height: 170px;
	border: 3px solid #3882f6;
	border-radius: 10px;
}

#quote-container {
	background-color: rgb(216, 216, 216);
	display: flex;
	flex-direction: column;
}

#action {
	display: flex;
	justify-content: center;
	align-items: center;
}

#action-container {
	background-color: rgb(96, 171, 241);
	display: flex;
	justify-content: space-between;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}
